@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

* {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

* {
background-image: url('images/woods.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: 100% 100%;
}
